* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Sf Pro Regular';
    src: url('fonts/SFPRODISPLAYREGULAR.otf') format('opentype');
    /*url('fonts/SFPRODISPLAYBLACKITALIC.otf') format('opentype'),
        url('fonts/SFPRODISPLAYBOLD.otf') format('opentype'),
        url('fonts/SFPRODISPLAYHEAVYITALIC.otf') format('opentype'),
        url('fonts/SFPRODISPLAYLIGHTITALIC.otf') format('opentype'),
        url('fonts/SFPRODISPLAYMEDIUM.otf') format('opentype'),
        url('fonts/SFPRODISPLAYSEMIBOLDITALIC.otf') format('opentype'),
        url('fonts/SFPRODISPLAYTHINITALIC.otf') format('opentype'),
        url('fonts/SFPRODISPLAYULTRALIGHTITALIC.otf') format('opentype');*/
}

@font-face {
    font-family: 'Sf Pro Medium';
    src: url('fonts/SFPRODISPLAYMEDIUM.otf') format('opentype');
}

:root {
    --primary-color: #5468E7;
    --primary-shades: #D1ECFD;
    --secondary-color: #C897E4;
    --secondary-shades: #E8BEFF;
    --dark: #232340;
    --dark-shades: #323259;
    --light: #D8D8D8;
    --light-shades: #EDEDED;
    --text-dark: #000000;
    --text-body-light-mode: #606060;
    --text-desactive: #ADADAD;
    --text-body-dark-mode: #8B8B8B;
}

body {
    font-family: 'Sf Pro Regular';
    position: relative;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

header {
    /* position: fixed;
    top: 0; */
    /* background: white; */
    padding: 52px 0 32px 0;
    z-index: 1;
    width: 100vw;
}

.nav-content {
    display: flex;
    width: calc(100vw - 20%);
    justify-content: space-between;
    align-items: center;
}

.line-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

.stand-out-text {
    margin-top: 128px;
}

.stand-out-text h1 {
    padding-top: 12px;
    font-weight: 700;
    font-size: 3.1rem;
    color: var(--dark);
    line-height: 56px;
    font-family: 'Sf Pro Medium';
}

.stand-out-text p {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 24px;
    color: var(--text-body-light-mode);
    line-height: 1.6rem;
    margin-bottom: 24px;
}

.recent-work-button {
    width: 160px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    height: 56px;
    cursor: pointer;
    border: none;
}

.stand-out-img {
    padding: 0;
    position: absolute;
    top: 10.5%;
    right: 0;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 515px;
    z-index: 0;
}


.who-we-are {
    margin-top: 392px;
    background: var(--dark);
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.who-we-are-text span {
    color: var(--text-desactive);
}

.who-we-are-text h2 {
    color: #ffffff;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.1rem;
    display: inline-block;
    margin: 0 0 24px 24px;
}

.who-we-are-text p {
    color: #ffffff;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3rem;
    font-family: 'Sf Pro Medium';
    margin-bottom: 32px;
}

.arrow-date {
    width: 80%;
}

.arrow-date,
.arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.link-right-arrow {
    background: var(--primary-color);
    border-radius: 30px;
}


.left-arrow {
    background: url(./image/arrow-down.png) no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.right-arrow {
    background: url(./image/arrow-down-2.png) no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.stand-out-img-2 {
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    max-width: 500px;
    margin-top: 56px;
    height: 424px;
}

.select-date {
    background: var(--dark);
    color: white;
    outline: none;
    border: none;

}


.contact-us {
    padding-top: 56px;
    background: var(--dark);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-us-text h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.contact-us-text p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--text-body-dark-mode);
    margin: 40px 0 32px 0;
}

.contact-us-text button {
    width: 160px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    height: 56px;
    cursor: pointer;
    border: none;
}

.bigest-branding {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 100%;
    background: var(--dark);
    box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
    width: 300px;
    height: 300px;
}

.bigest-branding-28 {
    font-weight: 600;
    font-size: 8.75rem;
    line-height: 10.40rem;
    text-align: center;
    color: #ffffff;
}

.bigest-branding-text {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.service {
    padding-top: 128px;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
}

.what-we-do {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.what-we-do-title {
    display: flex;
    gap: 24px;
}

.what-we-do-title span,
.what-we-do-title h2 {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.1rem;
    display: inline-block;
}

.what-we-do p {
    margin: 24px 0;
    font-weight: 700;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: -0.4px;
    color: var(--dark);
    font-family: 'Sf Pro Medium';
}

.what-we-do-list-content {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-we-do-list-content ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.what-we-do-list-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    background: white;
    border-radius: 32px;
    flex-grow: 1;
    height: 214px;
    color: var(--primary-color);
    box-shadow: 0px 5px 5px #EDEDED;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.what-we-do-achivement {
    width: 70%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.what-we-do-achivement-title {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 56px 0 24px 0;
}

.what-we-do-achivement-title span {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-body-dark-mode);
}

.what-we-do-achivement-title h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
}

.what-we-do-achivement p {
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--dark);
    font-family: 'Sf Pro Medium';
}

.what-we-do-achivement-68 {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 140px;
    line-height: 167px;
}

.sucessful-projects {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-right: 30px;
    display: flex;
    gap: 24px;
}