<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/partials/header.css" />
    <link rel="stylesheet" href="../styles/partials/page-cta.css" />
    <title>Folio | CTA</title>
  </head>
  <body>
    <header>
      <nav id="nav" class="nav-content container">
        <a href="../index.html">
          <img
            class="folio-dark"
            src="../image/light-mode.png"
            alt="Logo da folio"
          />
        </a>
        <button id="open-menu" href="#" class="open-menu-icon">
          <img src="../image/burger icon.png" alt="Abrir Menu de interação" />
        </button>
        <div id="menu" class="menu container">
          <div class="line-img-menu"></div>
          <div class="logo-mobile-menu">
            <a href="../index.html">
              <img
                class="folio-white"
                src="../image/folio-color-white.png"
                alt="Logo folio"
              />
            </a>
            <button id="close-menu" class="close-menu-icon">
              <img
                src="../image/close-icon.png"
                alt="Fechar Menu de Interação"
              />
            </button>
          </div>
          <ul>
            <li><a href="../views/work.html">Work</a></li>
            <li><a href="../views/who-we-are.html">About</a></li>
            <li><a href="../views/services.html">Services</a></li>
            <li><a href="../views/jobs.html">Jobs</a></li>
          </ul>
          <div class="footer-mobile-menu">
            <button>
              <img
                src="../image/icon-facebook.png"
                alt="Icone de acesso ao facebook"
              /></button
            ><button>
              <img
                src="../image/icone-youtube.png"
                alt="Icone de acesso ao youtube"
              /></button
            ><button>
              <img
                src="../image/icone-instagram.png"
                alt="Icone de acesso ao instagram"
              />
            </button>
          </div>
        </div>
      </nav>
    </header>
    <section class="container">
      <div class="cta">
        <div class="cta-content">
          <div class="cta-title">
            <span>05.</span>
            <h2>Call to action</h2>
          </div>
          <p>We Are Looking for Talented Designers</p>
          <button>Apply Now</button>
        </div>
      </div>
      <img
        class="img-cta"
        src="../image/cta-img.png"
        alt="Um telefone em forma de desenho"
      />
    </section>
    <script src="../scripts/menu.js"></script>
  </body>
</html>
