<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/partials/header.css" />
    <link rel="stylesheet" href="../styles/partials/page-job.css">
    <link rel="stylesheet" href="../styles/partials/footer.css" />
    <title>Folio | Job</title>
</head>

<body>
    <header>
        <nav id="nav" class="nav-content container">
            <a href="../index.html">
                <img class="folio-dark" src="../image/light-mode.png" alt="Logo da folio" />
            </a>
            <button id="open-menu" href="#" class="open-menu-icon">
                <img src="../image/burger icon.png" alt="Abrir Menu de interação" />
            </button>
            <div id="menu" class="menu container">
                <div class="line-img-menu"></div>
                <div class="logo-mobile-menu">
                    <a href="../index.html">
                        <img class="folio-white" src="../image/folio-color-white.png" alt="Logo folio" />
                    </a>
                    <button id="close-menu" class="close-menu-icon">
                        <img src="../image/close-icon.png" alt="Fechar Menu de Interação" />
                    </button>
                </div>
                <ul>
                    <li><a href="../views/work.html">Work</a></li>
                    <li><a href="../views/who-we-are.html">About</a></li>
                    <li><a href="../views/services.html">Services</a></li>
                    <li><a href="../views/job.html">Jobs</a></li>
                </ul>
                <div class="footer-mobile-menu">
                    <a><img src="../image/icon-facebook.png" alt="Icone de acesso ao facebook" /></a>
                    <a><img src="../image/icone-youtube.png" alt="Icone de acesso ao youtube" /></a>
                    <a><img src="../image/icone-instagram.png" alt="Icone de acesso ao instagram" /></a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="job container">
            <div class="job-we-are-hiring">
                <div class="job-title">
                    <span>05.</span>
                    <h2>We are hiring</h2>
                </div>
                <h3>Jobs</h3>
                <p>Agency is a full-service agency, busy designing and building beautiful digital products, brands, and experiences.</p>
            </div>
            <div class="job-list">
                <ul>
                    <li>
                        <div class="title-list">
                            <h4>Graphic Designer</h4>
                            <a href="#">2</a>
                        </div>
                        <span>2 years experience</span>
                        <a href="#">
                            <div class="arrow-job-list"></div>
                        </a>
                    </li>
                    <li>
                        <div class="second-job-content">
                            <div class="title-list">
                                <h4>Visual Designer</h4>
                            </div>
                            <span>2 years experience</span>
                            <a href="">
                                <div class="arrow-job-list"></div>
                            </a>
                        </div>
                        <div><img src="../image/img-list-job.png" alt="Desenho de um computador" /></div>
                    </li>
                    <li>
                        <div class="title-list">
                            <h4>Art Director</h4>
                        </div>
                        <span>2 years experience</span>
                        <a href="">
                            <div class="arrow-job-list"></div>
                        </a>
                    </li>
                    <li>
                        <div class="title-list">
                            <h4>Web Designer</h4>
                            <a href="#">6</a>
                        </div>
                        <span>2 years experience</span>
                        <a href="#">
                            <div class="arrow-job-list"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer class="container">
        <div class="footer-contact">
            <div class="footer-text-content container">
                <img src="../image/balão-footer.png" alt="desenho de balão de conversa" />
                <span>&#128075; Say Hello</span>
                <p>A design team building a curated marketplace for UI designers.</p>
            </div>
            <div class="footer-contact-us container">
                <p>Let's talk about your next project</p>
                <button>Contact Us</button>
            </div>
        </div>

        <div class="footer-drop">
            <img src="../image/light-mode.png" alt="Logo da folio" />
            <p>Agency is a full-service agency, busy designing and building.</p>
            <div class="select">
                <select name="" id="">
                    <option value="">Home</option>
                </select>
            </div>
            <div class="social-buttons">
                <a class="facebook-icon" href="#"><img src="../image/icon-facebook-footer.png"
                        alt="Icone do facebook" /></a>
                <a class="youtube-icon" href="#"><img src="../image/icon-youtube-footer.png"
                        alt="Icone do youtube" /></a>
                <a class="intagram-icon" href="#"><img src="../image/icon-instagram-footer.png"
                        alt="Icone do Instagram" /></a>
            </div>
            <p>&copy; 2020, UI8 LLC</p>
        </div>
    </footer>
    <script src="../scripts/menu.js"></script>
</body>

</html>