<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/partials/header.css" />
    <link rel="stylesheet" href="../styles/partials/page-services.css" />
    <title>Folio | Services</title>
  </head>
  <body>
    <main class="service container">
      <header>
        <nav class="nav-content">
          <img src="../image/light-mode.png" alt="Logo da folio" />
          <a href="#">
            <img src="../image/burger icon.png" alt="Menu de interação" />
          </a>
        </nav>
      </header>
      <section class="service-content">
        <div class="what-we-do">
          <div class="what-we-do-title">
            <span>03.</span>
            <h2>What We Do</h2>
          </div>
          <p>We Make Designer that Lead and Inpire</p>
          <div class="arrow">
            <a href="#" class="link-left-arrow">
              <div class="left-arrow"></div>
            </a>
            <a href="#" class="link-right-arrow">
              <div class="right-arrow"></div>
            </a>
          </div>
        </div>
        <div class="what-we-do-list-content">
          <ul>
            <li>
              <img
                src="../image/strategy-icon.png"
                alt="icone sobre estrategia"
              />
              <span>Strategy</span>
            </li>
            <li>
              <img src="../image/branding-icon.png" alt="icone de uma rosa" />
              <span>Branding</span>
            </li>
            <li>
              <img
                src="../image/interactice-icon.png"
                alt="icone de um botão de interação"
              /><span>Interactive</span>
            </li>
            <li>
              <img
                src="../image/communicate-icon.png"
                alt="icone de um comunicação"
              /><span>Communicate</span>
            </li>
          </ul>
        </div>
        <div class="what-we-do-achivement">
          <div class="what-we-do-achivement-title">
            <span>03.</span>
            <h2>Achievement</h2>
          </div>
          <p>A design team build a curated marketplace for UI designers</p>
          <span class="what-we-do-achivement-68">68</span>
          <div class="sucessful-projects">
            <span>&#128526;</span>
            <span class="what-we-do-achivement-successful">
              Sucessful Projects</span
            >
          </div>
        </div>
        <div class="what-we-do-phone-img">
          <div class="phone-container">
            <img class="phone-img" src="../image/phone.png" alt="" />
            <div class="circle-phone"></div>
          </div>
          <div class="phone-pagination">
            <div class="pagination-items"></div>
            <div class="pagination-items"></div>
            <div class="pagination-items"></div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
