<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/partials/header.css" />
    <link rel="stylesheet" href="../styles/partials/footer.css" />
    <link rel="stylesheet" href="../styles/partials/page-services.css" />
    <title>Folio | Services</title>
  </head>
  <body class="service">
    <header>
      <nav id="nav" class="nav-content container">
        <a href="../index.html">
          <img
            class="folio-dark"
            src="../image/light-mode.png"
            alt="Logo da folio"
            /></a>
        <button id="open-menu" href="#" class="open-menu-icon">
          <img src="../image/burger icon.png" alt="Abrir Menu de interação" />
        </button>
        <div id="menu" class="menu container">
          <div class="line-img-menu"></div>
          <div class="logo-mobile-menu">
            <a href="../index.html">
              <img
                class="folio-white"
                src="../image/folio-color-white.png"
                alt="Logo folio"
                />
            </a>
            <button id="close-menu" class="close-menu-icon">
              <img
                src="../image/close-icon.png"
                alt="Fechar Menu de Interação"
                />
            </button>
          </div>
          <ul>
            <li><a href="../views/work.html">Work</a></li>
            <li><a href="../views/who-we-are.html">About</a></li>
            <li><a href="../views/services.html">Services</a></li>
            <li><a href="../views/job.html">Jobs</a></li>
          </ul>
          <div class="footer-mobile-menu">
            <button>
              <img
                src="../image/icon-facebook.png"
                alt="Icone de acesso ao facebook"
                /></button><button>
              <img
                src="../image/icone-youtube.png"
                alt="Icone de acesso ao youtube"
                /></button><button>
              <img
                src="../image/icone-instagram.png"
                alt="Icone de acesso ao instagram"
                />
            </button>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="service-content container">
        <div class="what-we-do">
          <div class="what-we-do-title">
            <span>03.</span>
            <h2>What We Do</h2>
          </div>
          <p>We Make Designer that Lead and Inpire.</p>
          <div class="arrow">
            <a href="#" class="link-left-arrow">
              <div class="left-arrow"></div>
            </a>
            <a href="#" class="link-right-arrow">
              <div class="right-arrow"></div>
            </a>
          </div>
        </div>
        <div class="what-we-do-list">
          <ul>
            <li>
              <div class='list-content'>
                <img
                  src="../image/strategy-icon.png"
                  alt="icone sobre estrategia"
                  />
                <a href="#">Strategy</a>
              </div>
            </li>
            <li>
              <div class='list-content'>
                <img src="../image/branding-icon.png" alt="icone de uma rosa" />
                <a href="#">Branding</a>
              </div>
            </li>
            <li>
              <div class="line-service-1"></div>
              <div class='list-content'>
                <img
                  src="../image/interactice-icon.png"
                  alt="icone de um botão de interação"
                  /><a href="#">Interactive</a>
              </div>
            </li>
            <li>
              <div class='list-content'>
                <img
                  src="../image/communicate-icon.png"
                  alt="icone de um comunicação"
                  /><a href="#">Communicate</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="what-we-do-achivement">
          <div class="what-we-do-achivement-title">
            <span>03.</span>
            <h2>Achievement</h2>
          </div>
          <p>A design team build a curated marketplace for UI designers</p>
          <span class="what-we-do-achivement-68">68</span>
          <div class="sucessful-projects">
            <span>&#128526;</span>
            <span class="what-we-do-achivement-successful">
              Sucessful Projects</span>
          </div>
        </div>
        <div class="what-we-do-phone-img">
          <div class="phone-container">
            <img class="phone-img" src="../image/phone.png" alt="" />
            <div class="circle-phone"></div>
            <div class="line-services"></div>
          </div>
          <div class="phone-pagination">
            <div class="pagination-items"></div>
            <div class="pagination-items"></div>
            <div class="pagination-items"></div>
          </div>
        </div>
      </section>
    </main>
    <footer class="container">
      <div class="footer-contact">
        <div class="footer-text-content container">
          <img
            src="../image/balão-footer.png"
            alt="desenho de balão de conversa"
            />
          <span>&#128075; Say Hello</span>
          <p>A design team building a curated marketplace for UI designers.</p>
        </div>
        <div class="footer-contact-us container">
          <p>Let's talk about your next project</p>
          <button>Contact Us</button>
        </div>
        <div class='line-footer-contact'></div>
      </div>

      <div class="footer-drop">
        <img src="../image/light-mode.png" alt="Logo da folio" />
        <p>Agency is a full-service agency, busy designing and building.</p>
        <div class="select">
          <select name="" id="">
            <option value="">Home</option>
          </select>
        </div>
        <div class="social-buttons">
          <a class="facebook-icon" href="#"><img
              src="../image/icon-facebook-footer.png"
              alt="Icone do facebook"
              /></a>
          <a class="youtube-icon" href="#"><img
              src="../image/icon-youtube-footer.png" alt="Icone do youtube"
              /></a>
          <a class="intagram-icon" href="#"><img
              src="../image/icon-instagram-footer.png"
              alt="Icone do Instagram"
              /></a>
        </div>
        <p>&copy; 2020, UI8 LLC</p>
      </div>
      <div class="line-footer-drop"></div>
    </footer>
    <script src="../scripts/menu.js"></script>
  </body>
</html>
