<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/partials/header.css" />
    <link rel="stylesheet" href="../styles/partials/footer.css" />
    <link rel="stylesheet" href="../styles/partials/page-who-we-are.css" />
    <title>Folio | Who We Are</title>
  </head>
  <body>
    <header>
      <nav id="nav" class="nav-content container">
        <a href="../index.html">
          <img
            class="folio-dark"
            src="../image/light-mode.png"
            alt="Logo da folio"
          />
        </a>
        <button id="open-menu" href="#" class="open-menu-icon">
          <img src="../image/burger icon.png" alt="Abrir Menu de interação" />
        </button>
        <div id="menu" class="menu container">
          <div class="line-img-menu"></div>
          <div class="logo-mobile-menu">
            <a href="../index.html">
              <img
                class="folio-white"
                src="../image/folio-color-white.png"
                alt="Logo folio"
            /></a>
            <button id="close-menu" class="close-menu-icon">
              <img
                src="../image/close-icon.png"
                alt="Fechar Menu de Interação"
              />
            </button>
          </div>
          <ul>
            <li><a href="../views/work.html">Work</a></li>
            <li><a href="../views/who-we-are.html">About</a></li>
            <li><a href="../views/services.html">Services</a></li>
            <li><a href="../views/jobs.html">Jobs</a></li>
          </ul>
          <div class="footer-mobile-menu">
            <button>
              <img
                src="../image/icon-facebook.png"
                alt="Icone de acesso ao facebook"
              /></button
            ><button>
              <img
                src="../image/icone-youtube.png"
                alt="Icone de acesso ao youtube"
              /></button
            ><button>
              <img
                src="../image/icone-instagram.png"
                alt="Icone de acesso ao instagram"
              />
            </button>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="who-we-are">
        <div class="who-we-are-text container">
          <span>01.</span>
          <h2>Who We Are</h2>
          <p>We Make Designs that Lead and Inpire.</p>
        </div>
        <div class="arrow-date">
          <div class="arrow">
            <a href="#" class="link-left-arrow">
              <div class="left-arrow"></div>
            </a>
            <a href="#" class="link-right-arrow">
              <div class="right-arrow"></div>
            </a>
          </div>
          <div class="date container">
            <select class="select-date" name="" id="">
              <option value="">2020</option>
            </select>
          </div>
        </div>
        <!-- <div class="stand-out-img-2"></div> -->
        <img
          class="stand-out-img-2"
          src="../image/stand-out-img-2.png"
          alt=""
        />
        <div class="contact-us container">
          <div class="contact-us-text">
            <h2>
              A design team building a curated marketplace for UI designers.
            </h2>
            <p>
              4,404 curated design resources to energize your creative workflow.
              We're a growing family of 334,531 designers and makers from around
              the world
            </p>
            <button>Contact Us</button>
          </div>
          <div class="bigest-branding">
            <span class="bigest-branding-28">28</span>
            <span class="bigest-branding-text">Bigest Branding</span>
          </div>
        </div>
      </section>
    </main>
    <footer class="container">
      <div class="footer-contact">
        <div class="footer-text-content container">
          <img
            src="../image/balão-footer.png"
            alt="desenho de balão de conversa"
          />
          <span>&#128075; Say Hello</span>
          <p>A design team building a curated marketplace for UI designers.</p>
        </div>
        <div class="footer-contact-us container">
          <p>Let's talk about your next project</p>
          <button>Contact Us</button>
        </div>
      </div>

      <div class="footer-drop">
        <img src="../image/light-mode.png" alt="Logo da folio" />
        <p>Agency is a full-service agency, busy designing and building.</p>
        <div class="select">
          <select name="" id="">
            <option value="">Home</option>
          </select>
        </div>
        <div class="social-buttons">
          <a class="facebook-icon" href="#"
            ><img
              src="../image/icon-facebook-footer.png"
              alt="Icone do facebook"
          /></a>
          <a class="youtube-icon" href="#"
            ><img src="../image/icon-youtube-footer.png" alt="Icone do youtube"
          /></a>
          <a class="intagram-icon" href="#"
            ><img
              src="../image/icon-instagram-footer.png"
              alt="Icone do Instagram"
          /></a>
        </div>
        <p>&copy; 2020, UI8 LLC</p>
      </div>
    </footer>
    <script src="../scripts/menu.js"></script>
  </body>
</html>
