<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/partials/header.css" />
    <link rel="stylesheet" href="../styles/partials/page-who-we-are.css" />
    <title>Folio | Who We Are</title>
  </head>
  <body>
    <header>
      <nav class="nav-content container">
        <img src="../image/light-mode.png" alt="Logo da folio" />
        <a href="#">
          <img src="../image/burger icon.png" alt="Menu de interação"
        /></a>
      </nav>
    </header>
    <main>
      <section class="who-we-are">
        <div class="who-we-are-text container">
          <span>01.</span>
          <h2>Who We Are</h2>
          <p>We Make Designs that Lead and Inpire.</p>
        </div>
        <div class="arrow-date">
          <div class="arrow">
            <a href="#" class="link-left-arrow">
              <div class="left-arrow"></div>
            </a>
            <a href="#" class="link-right-arrow">
              <div class="right-arrow"></div>
            </a>
          </div>
          <div class="date container">
            <select class="select-date" name="" id="">
              <option value="">2020</option>
            </select>
          </div>
        </div>
        <!-- <div class="stand-out-img-2"></div> -->
        <img
          class="stand-out-img-2"
          src="../image/stand-out-img-2.png"
          alt=""
        />
        <div class="contact-us container">
          <div class="contact-us-text">
            <h2>
              A design team building a curated marketplace for UI designers.
            </h2>
            <p>
              4,404 curated design resources to energize your creative workflow.
              We're a growing family of 334,531 designers and makers from around
              the world
            </p>
            <button>Contact Us</button>
          </div>
          <div class="bigest-branding">
            <span class="bigest-branding-28">28</span>
            <span class="bigest-branding-text">Bigest Branding</span>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
