<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/partials/header.css" />
    <link rel="stylesheet" href="../styles/partials/page-work.css" />
    <title>Folio | Work</title>
  </head>
  <body>
    <header>
      <nav class="nav-content container">
        <img src="../image/light-mode.png" alt="Logo da folio" />
        <a href="#">
          <img src="../image/burger icon.png" alt="Menu de interação"
        /></a>
      </nav>
    </header>
    <main>
      <section class="work container">
        <div class="work-famous-projects">
          <div class="work-title">
            <span>04.</span>
            <h2>Famous Project</h2>
          </div>
          <h3>Our Partnerships</h3>
          <p>
            Agency is a full-service agency, busy designing and building
            beautiful digital products, brands, and experiences.
          </p>
        </div>
        <div class="work-painel">
          <div class="work-painel-item">
            <div class="work-painel-img">
              <img src="../image/portofolio-1.png" alt="" />
              <button>Featured Product</button>
            </div>
            <h4>Bento 3D Illustration</h4>
            <p>
              Agency is a full-service agency, busy designing and building
              beautiful digital products, brands
            </p>
            <a href="#"><div class="work-arrow-button"></div></a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
