.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

.menu-icon {
    z-index: 10;
}

/* .menu-icon:focus~div,
.menu-icon:active~div {
    z-index: 20;
    display: flex;
    background: greenyellow;
}

.menu {
    display: none;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: yellow;
    position: fixed;
}

.menu ul {
    list-style: none;
    overflow: hidden;
} */