body {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
}

.job-img-desktop,
.available-jobs,
.job-line-img-desktop {
    display: none;
}

.job-title {
    display: flex;
    color: var(--primary-color);
    gap: 24px;
    margin-bottom: 24px;
}

.job-title span,
.job-title h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.job-we-are-hiring h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--dark);
    margin-bottom: 24px;
}

.job-we-are-hiring p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-body-light-mode);
    margin-bottom: 48px;
}

.job-line-img {
    background: url(../../image/line-img-job.png) no-repeat;
    width: 457px;
    height: 582px;
    position: absolute;
    top: 0;
    right: 0;
    background-position: right top;
    z-index: -1;
}

.job-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    list-style: none;
    /* position: relative; */
}

.job-list ul li:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    position: relative;
    left: 6.2%;
    width: 112.5%;
    border-radius: 24px 0 0 24px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.job-list ul li:nth-child(2) h4 {
    color: #ffffff;
}

.job-list ul li:nth-child(2) .arrow-job-list {
    background: url(../../image/arrow-down-white-job.png) no-repeat;

}

.job-list li {
    background-color: #ffffff;
    border-radius: 24px;
    width: 100%;
    padding-left: 40px;
    padding-top: 45px;
    padding-bottom: 44px;
    box-shadow: 0px 5px 5px #EDEDED;
}

.title-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title-list h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark);
    margin-bottom: 4px;
}

.title-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--primary-gradient);
    border-radius: 100%;
    color: #ffffff;
    width: 24px;
    height: 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.job-list span {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-body-light-mode);
}

.arrow-job-list {
    margin-top: 11px;
    background: url(../../image/arrow-down-job.png) no-repeat;
    width: 18px;
    height: 14.22px;
}


@media screen and (min-width:1024px) {

    .control,
    .job-img-mobile,
    .job-line-img {
        display: none;
    }

    .available-jobs,
    .job-line-img-desktop {
        display: initial;
    }

    .job-img-desktop {
        display: initial;
        margin-right: 13px;
    }

    section {
        padding-top: 87px;
        display: flex;
    }

    section a {
        margin-right: 4.5%;
    }

    .job-line-img-desktop {
        background: url(../../image/line-img-job-desktop.png) no-repeat;
        width: 457px;
        height: 582px;
        position: absolute;
        top: 0;
        left: 20%;
        z-index: -1;
    }

    .job {
        display: flex;
        gap: 60px;
        position: relative;
    }

    .folio-desktop {
        background: url(../../image/folio-desktop.png) no-repeat;
        width: 24px;
        height: 24px;
    }

    .job-list {
        width: 58%;
    }

    .job-we-are-hiring {
        width: 42%;
    }

    .job-list ul li {
        padding-top: 33.5px;
        padding-bottom: 33.5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .job-list ul li:nth-child(2) {
        position: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--dark);
        width: 100%;
        padding-bottom: 12px;
        padding-top: 12px;
        border-radius: 24px;
    }

    .job-we-are-hiring h3 {
        font-weight: 700;
        font-size: 76px;
        line-height: 92px;
    }

    .available-jobs {
        display: flex;
        align-items: center;
        padding-top: 24px;
    }

    .available-jobs span {
        width: 27%;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: var(--text-body-dark-mode);
    }

    .available-img {
        background: url(../../image/available-img.png) no-repeat;
        height: 40px;
        width: 40px;
    }
}

@media screen and (min-width:1440px) {

    .job-title span,
    .job-title h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }

    .job-we-are-hiring h3 {
        font-weight: 700;
        font-size: 110px;
        line-height: 131px;
        letter-spacing: -1.2px;
    }

    .job-we-are-hiring p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        width: 77%;
    }

    .available-jobs {
        width: 70%;
    }

    .job-list {
        max-width: 570px;
    }

    .job-list li {
        height: 250px;
    }

    .title-list h4 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }

    .job-list span {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
    }

    section {
        padding-top: 128px;
    }

    .job-line-img-desktop {
        background: url(../../image/line-job-desktop-principal.png) no-repeat;
        width: 642px;
        height: 819px;
        position: absolute;
        top: 0;
        left: 17.8%;
        z-index: -1;
    }
}