.desktop-item,
.button-desktop-content,
.line-work-desktop-1,
.line-img-work-2,
.desktop-potifolio-2,
.desktop-portifolio-1,
.desktop-portifolio-5,
.desktop-portifolio-4,
.desktop-portifolio-principal,
.button-view,
.line-work-desktop-3,
.portofolio-preto-e-branco-desktop {
    display: none;
}

.work-title {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 24px;
}

.work-title-number {
    display: flex;
    gap: 37px;
}

.work-title span {
    font-weight: 600;
    font-size: .8rem;
    line-height: 1.1rem;
}

.work-title h2 {
    font-weight: 600;
    font-size: .8rem;
    line-height: 1.1rem;
}

.work-famous-projects h3 {
    color: var(--dark);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    width: 80%;
    margin-bottom: 16px;
    font-family: 'Sf Pro Medium';
}

.work-famous-projects p {
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--text-body-light-mode);
}

.work-painel-img {
    background-color: var(--accent-2);
    border-radius: 17px;
    width: 100%;
    height: 355.56px;
    position: relative;
    display: flex;
    justify-content: center;
}

.work-painel-img img {
    background-position: center;
    background-size: 100% 100%;
}

.work-second-painel {
    background-color: var(--secondary-shades);
}

.work-third-painel {
    background-color: var(--shade-6);
}

.work-fourth-painel {
    background-color: var(--primary-shades);
}

.work-fifth-painel {
    background-color: var(--accent-2);
}

.featured-buttton {
    position: absolute;
    bottom: 23px;
    left: 23px;
    font-weight: 600;
    font-size: 10px;
    line-height: .8rem;
    color: #ffffff;
    text-align: center;
    background: var(--shade-7);
    border-radius: 14px;
    outline: none;
    border: none;
    width: 119px;
    height: 29px;
    cursor: pointer;
}

.work-painel h4 {
    margin: 24px 0 16px 0;
    color: var(--dark);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.2px;
    font-family: 'Sf Pro Medium';
}

.work-painel p,
.desktop-item p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--text-body-light-mode);
    width: 80%;
}

.work-arrow-button {
    background: url(../../image/Stroke.png) no-repeat;
    width: 50px;
    height: 51px;
    margin: 24px 0 32px 0;
}

.contact-us-buttton {
    text-align: center;
    width: 100%;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    height: 46px;
    cursor: pointer;
    border: none;
    margin: 30px 0 60px 0;
}

@media screen and (min-width: 1024px) {

    .work {
        padding-top: 112px;
    }

    section {
        position: relative;
    }


    .work-famous-projects a {
        height: 35px;
    }

    .line-work-desktop-1,
    .line-img-work-2 {
        display: initial;
    }

    .desktop-item-text {
        position: relative;
    }

    .line-work-desktop-1 {
        background: url(../../image/line-work-desktop-1.png) no-repeat;
        position: absolute;
        width: 456.68px;
        height: 582.58px;
        top: 50%;
        left: -31%;
        z-index: -1;
    }

    .control,
    .work-painel-item-mobile,
    .mobile-button,
    .desktop-potifolio-2,
    .desktop-portifolio-1,
    .desktop-portifolio-5,
    .desktop-portifolio-4,
    .desktop-portifolio-principal {
        display: none;
    }

    .folio-desktop {
        background: url(../../image/folio-desktop-work.png) no-repeat;
        width: 35px;
        height: 35px;
        margin-right: 117px;
    }

    .desktop-item .line {
        position: relative;
    }

    .line-img-work-2 {
        background: url(../../image/line-work-desktop-2.png) no-repeat;
        position: absolute;
        width: 619px;
        height: 554.92px;
        top: 58%;
        right: 0;
        z-index: -1;
    }

    .work-famous-projects {
        display: flex;
        justify-content: space-between;
    }

    .button-desktop-content {
        margin-top: 61px;
        display: flex;
        align-items: flex-start;
    }

    .button-desktop-content button {
        margin: 0;
        width: 120px;
    }

    .work-title h3 {
        font-weight: 700;
        font-size: 64px;
        line-height: 72px;
        width: 100%;
    }

    .work-title-number {
        display: flex;
        flex-direction: row;
        gap: 27px;
    }

    .work-title {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 77px;
    }

    .work-title p {
        width: 75%;
        margin-bottom: 96px;
    }

    .desktop-item-text {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-bottom: 200px;
    }

    .featured-buttton {
        position: initial;
        margin-bottom: 16px;
    }

    .work-painel p {
        width: 67%;
    }

    .desktop-item-text h4,
    .desktop-item h4 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: var(--dark);
        margin-bottom: 24px;
        margin-top: 0;
        font-family: 'Sf Pro Medium';
    }

    .work-painel .desktop-item:first-child {
        display: flex;
    }

    .img-desktop-container {
        background: #D1ECFD;
        position: absolute;
        left: 30.3%;
        top: 17.5%;
        width: 470px;
        height: 370px;
        border-radius: 16px;
        z-index: -1;
    }

    .img-portofolio {
        position: absolute;
        left: 15%;
        height: 100%;
        margin-top: 13px;
    }

    .arrow-work-blue {
        background: url(../../image/arrow-work.png) no-repeat;
        width: 48px;
        height: 50px;
        position: absolute;
        right: -5%;
        top: 21%;
    }

    .portofolio-preto-e-branco-tablet {
        position: absolute;
        background: url(../../image/portofolio-1-preto-e-branco.png) no-repeat;
        width: 483.6px;
        height: 492.09px;
        top: 11%;
        right: 2%;
        z-index: -1;
    }

    .middle-items {
        display: flex;
        flex-direction: row;
    }

    .img-desktop-container-middle-1,
    .img-desktop-container-middle-3,
    .img-desktop-container-middle-4 {
        position: relative;
    }

    .arrow-desktop {
        background: url(../../image/Stroke.png) no-repeat;
        width: 52px;
        height: 52px;
        bottom: 12%;
        position: absolute;
        right: -8.5%;
    }

    .img-desktop-container-middle-2 .arrow-desktop,
    .img-desktop-container-middle-4 .arrow-desktop {
        right: -10.5%;
    }

    .middle-items>.desktop-item:nth-child(1) {
        display: flex;
        margin-top: 205px;
        flex-direction: column;
        width: 47%;
        align-items: flex-start;
    }

    .img-desktop-container-middle-1 {
        width: 328px;
        height: 355.56px;
        background: #FFCE79;
        border-radius: 17.0667px;
        margin-bottom: 30px;
    }

    .middle-items>.desktop-item:nth-child(2) h4 {
        margin-bottom: 0;
    }

    .middle-items>.desktop-item:nth-child(2) p {
        width: 100%;
    }

    .container-item {
        display: flex;
        flex-direction: column;
        width: 260px;
        gap: 40px;
    }

    .low-items .desktop-item .container-item {
        width: 61%;
    }

    .middle-items>.desktop-item:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50%;
    }

    .img-desktop-container-middle-2 {
        width: 258px;
        height: 270px;
        background: #E8BEFF;
        border-radius: 17.0667px;
        align-self: flex-end;
        position: relative;
    }

    .img-desktop-container-middle-2 img {
        position: absolute;
        top: -10%;
        left: -57%;
    }

    .low-items {
        display: flex;
        flex-direction: row;
        height: 800px;
    }

    .low-items .desktop-item:first-child,
    .low-items .desktop-item:last-child {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .low-items .desktop-item:first-child .container-item {
        width: 53%;
        height: 564px;
    }

    .low-items .desktop-item:first-child {
        align-items: center;
    }

    .low-items .desktop-item:first-child p {
        width: 100%;
    }

    .low-items .desktop-item:first-child h4 {
        margin: 0;
        margin-top: 240px;
    }

    .low-items .desktop-item:first-child .img-desktop-container-middle-4 {
        align-items: center;
        background: var(--shade-5);
        width: 260px;
        height: 360px;
        border-radius: 17px;
        padding: 62px 0;
    }

    .low-items .desktop-item:last-child {
        align-items: center;
    }

    .low-items .desktop-item:last-child p {
        width: 100%;
    }

    .low-items .desktop-item:last-child h4 {
        margin: 0;
    }

    .low-items .desktop-item:last-child .img-desktop-container-middle-3 {
        align-items: center;
        background: var(--primary-shades);
        width: 328px;
        height: 360px;
        border-radius: 17px;
    }
}

@media screen and (min-width:1440px) {

    .desktop-potifolio-2,
    .desktop-portifolio-1,
    .desktop-portifolio-5,
    .desktop-portifolio-4,
    .desktop-portifolio-principal,
    .button-view,
    .line-work-desktop-3,
    .portofolio-preto-e-branco-desktop {
        display: initial;
    }

    .tablet-portifolio-2,
    .tablet-portifolio-1,
    .tablet-portifolio-5,
    .tablet-portifolio-4,
    .img-portofolio,
    .line-work-desktop-1,
    .portofolio-preto-e-branco-tablet {
        display: none;
    }

    .folio-desktop {
        background: url(../../image/folio-desktop.png) no-repeat;
    }

    .work-famous-projects {
        height: 463px;
    }

    .portofolio-preto-e-branco-desktop {
        position: absolute;
        background: url(../../image/img-preto-e-branco-desktop.png) no-repeat;
        width: 672.6px;
        height: 530.09px;
        top: 9%;
        right: 3%;
        z-index: -1;
    }

    .img-desktop-container {
        width: 668px;
        height: 520px;
        left: 28.1%;
        top: 534px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrow-work-blue {
        width: 60px;
        height: 61px;
        background-size: cover;
    }

    .arrow-desktop {
        bottom: 12%;
        right: -6%;
    }

    .img-desktop-container-middle-2 .arrow-desktop,
    .img-desktop-container-middle-4 .arrow-desktop {
        right: -7.5%;
    }


    .button-view {
        position: absolute;
        bottom: 32px;
        left: 32px;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        background: var(--dark);
        padding: 24px 17px;
        border-radius: 50%;
        cursor: pointer;
    }

    .work-title,
    .work-title .work-title-number {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }

    .work-title h3 {
        font-weight: 700;
        font-size: 84px;
        line-height: 100px;
        letter-spacing: -1px;
    }

    .work-title p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        width: 60%;
    }

    .desktop-item-text h4,
    .container-item h4,
    .desktop-item h4 {
        font-weight: 700;
        font-size: 42px;
        line-height: 48px;
    }

    .desktop-item-text p {
        margin-bottom: 210px;
        width: 43%;
    }

    .desktop-item-text button {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        width: 166px;
        height: 40px;
    }

    .contact-us-buttton {
        width: 166px;
        height: 64px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }

    .desktop-item-text p,
    .container-item p,
    .desktop-item p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;

    }

    .img-desktop-container-middle-1 {
        width: 470px;
        height: 500px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-desktop-container-middle-2 {
        width: 366px;
        height: 360px;
    }

    .low-items .desktop-item .container-item .img-desktop-container-middle-4 {
        padding: 137px 0;
        border-radius: 24px;
        width: 366px;
        height: 506px;
        display: flex;
        justify-content: center;
    }

    .img-desktop-container-middle-2 img {
        width: 750px;
        height: 536px;
        top: -22%;
        left: -95%;
        position: absolute;
    }

    .low-items .desktop-item .container-item .img-desktop-container-middle-3 {
        width: 467px;
        height: 506px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-desktop-container-middle-3 img {
        width: 679px;
        height: 485px;
    }

    .middle-items>.desktop-item:nth-child(2) .container-item {
        width: 364px;
    }

    .low-items {
        height: 1041px;
    }

    .line-work-desktop-3 {
        background: url(../../image/line-work-img-desktop-3.png) no-repeat;
        width: 640.21px;
        height: 560.25px;
        position: absolute;
        top: 58%;
        left: -21%;
        z-index: -1;
    }

    .line-img-work-2 {
        background: url(../../image/line-img-work-4.png) no-repeat;
        width: 878.22px;
        height: 322.35px;
        position: absolute;
        top: 60%;
        right: 0px;
        z-index: -1;
        opacity: 0.3;
    }
}