.cta-mask-desktop,
.img-cta-phone-desktop,
.logo-folio-desktop,
.cta-desktop-blue-mask,
.img-cta-phone-principal {
    display: none;
}

.cta-page {
    position: relative;
}

.cta {
    border-radius: 25px;
    padding-top: 64px;
    height: 100%;
    width: 100%;
    max-height: 929px;
    background: var(--primary-color);
}

.cta-content {
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
}

.cta-title {
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 10;
}

.cta-title span {
    font-weight: 600;
    font-size: .9rem;
    line-height: 1.1rem;
    color: #ffffff;

}

.cta-title h2 {
    font-weight: 600;
    font-size: .9rem;
    line-height: 1.1rem;
    color: #ffffff;
}

.cta-content p {
    font-weight: 700;
    font-size: 3rem;
    line-height: 56px;
    color: #ffffff;
    margin: 24px 0 32px 0;
    letter-spacing: -0.5px;
    z-index: 10;
}

.cta-content button {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: center;
    color: var(--primary-color);
    border-radius: 8px;
    width: 143px;
    height: 46px;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;
}

.img-cta {
    position: absolute;
    width: 100%;
    max-width: 400px;
    left: 0;
    z-index: 10;
}

.cta-mask {
    position: absolute;
    bottom: -5%;
    height: 730.18px;
    z-index: 9;
    right: 0;
}

.cta-figure {
    height: 600px;
}

@media screen and (min-width:1024px) {

    .cta-mask,
    .img-cta {
        display: none;
    }

    .cta-mask-desktop,
    .img-cta-phone-desktop,
    .logo-folio-desktop,
    .cta-desktop-blue-mask {
        display: initial;
    }

    .cta-page {
        padding-top: 90px;
    }

    .cta-desktop-blue-mask {
        width: 831.29px;
        height: 443.73px;
        left: 5%;
        top: 21%;
        background: #D1ECFD;
        border-radius: 28.4444px;
        position: absolute;
    }

    .cta {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 512px;
        padding: 0;
    }

    .cta-figure {
        height: 512px;
        width: 42.5%;
    }

    .logo-folio-desktop {
        background: url(../../image/folio-desktop-cta.png) no-repeat;
        width: 28.44px;
        height: 28.44px;
        position: absolute;
        left: 7%;
        top: 21%;
        z-index: 20;
        cursor: pointer;
    }

    .img-cta-phone-desktop {
        order: 2;
    }

    .cta-content {
        order: 3;
        width: 57.5%;
        margin-top: 81px;
        align-self: flex-start;
    }

    .cta-mask-desktop {
        background: url(../../image/mask-cta-desktop.png) no-repeat;
        width: 358px;
        height: 444px;
        position: absolute;
        top: 6.5%;
        right: -6.5%;
    }
}

@media screen and (min-width:1440px) {

    .container-cta {
        padding-left: 9.37%;
        padding-right: 9.37%;
    }

    .img-cta-phone-desktop {
        display: none;
    }

    .img-cta-phone-principal {
        display: initial;
    }

    .img-cta-phone-principal {
        width: 100%;
        height: 100%;
    }

    .cta-mask-desktop {
        background: url(../../image/mask-cta-desktop-1440.png) no-repeat;
        width: 503px;
        height: 624px;
        position: absolute;
        top: 6.5%;
        right: -6.5%;
    }

    .cta-figure {
        height: 620px;
        margin-left: 45px;
    }

    .cta {
        height: 720px;
        align-items: center;
    }

    .logo-folio-desktop {
        background: url(../../image/folio-desktop-footer.png) no-repeat;
        width: 40px;
        height: 40px;
        background-size: cover;
    }

    .cta-title span,
    .cta-title h2 {
        font-size: 1.1rem;
        line-height: 24px;
    }

    .cta-content {
        width: 45%;
        margin-left: 26px;
        margin-top: 134px;
    }

    .cta-content p {
        font-size: 4rem;
        line-height: 72px;

    }

    .cta-content button {
        width: 201px;
        height: 64px;
    }

    .cta-desktop-blue-mask {
        width: 831.29px;
        height: 620px;
        left: 5%;
        top: 17.5%;
        background: #D1ECFD;
        border-radius: 28.4444px;
        position: absolute;
    }
}