.who-we-are-logo-desktop,
.who-we-are-img-principal,
.date-wo-we-are,
.line-img-wo-we-are {
    display: none;
}

.who-we-are {
    background: var(--dark);
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.who-we-are-content {
    width: 100%;
}

.who-we-are-title span {
    color: var(--text-desactive);
}

.who-we-are-title h2 {
    color: #ffffff;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.1rem;
    display: inline-block;
    margin: 0 0 24px 24px;
}

.who-we-are-title p {
    color: #ffffff;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3rem;
    font-family: 'Sf Pro Medium';
    margin-bottom: 32px;
}

.arrow-date {
    width: 100%;
}

.date {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.select-date {
    width: 75%;
    align-self: flex-end;
}

.arrow-date,
.arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.arrow-date {
    gap: 54px;
}

.link-right-arrow {
    background: var(--primary-color);
    border-radius: 30px;
}


.left-arrow {
    background: url(../../image/arrow-down.png) no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.right-arrow {
    background: url(../../image/arrow-down-2.png) no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.stand-out-img-2 {
    background-size: cover;
    background-position: center;
    width: 100vw;
    margin-top: 56px;
    height: 424px;
}

.select-date {
    background: var(--dark);
    color: white;
    outline: none;
    border: none;
}

.contact-us {
    padding-top: 56px;
    background: var(--dark);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-us-text h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.contact-us-text p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--text-body-dark-mode);
    margin: 40px 0 32px 0;
}

.contact-us-text button {
    width: 160px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    height: 56px;
    cursor: pointer;
    border: none;
}

.bigest-branding {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 100%;
    background: var(--dark);
    box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
    width: 300px;
    height: 300px;
}

.bigest-branding-28 {
    font-weight: 600;
    font-size: 8.75rem;
    line-height: 10.40rem;
    text-align: center;
    color: #ffffff;
}

.bigest-branding-text {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

@media screen and (max-width:373px) {
    .contact-us {
        padding-left: 3%;
        padding-right: 3%;
        text-align: center;
    }
}

@media screen and (min-width:1024px) {

    .control {
        display: none;
    }

    .who-we-are-logo-desktop,
    .who-we-are-img-principal,
    .line-img-wo-we-are {
        display: initial;
    }

    .line-img-wo-we-are {
        background: url(../../image/line-img-wo-we-are.png) no-repeat;
        width: 50%;
        height: 557.85px;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: -1;
    }

    .date,
    .stand-out-img-2 {
        display: none;
    }

    .borda-top {
        height: 40px;
        width: 100vw;
        position: relative;
        background: #ffffff;
        position: absolute;
        top: 0;
    }

    .who-we-are-title p {
        margin-bottom: 0;
    }

    .who-we-are-content {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        margin-top: 40px;
    }

    .who-we-are-logo-desktop,
    .arrow-date {
        width: 33%;
    }

    .arrow-date {
        justify-content: center;
        margin-bottom: 20px;
    }

    .img-computador-content {
        position: relative;
        margin-top: 155px;
        margin-left: 140px;
    }

    .mask-who-we-are {
        background: url(../../image/wo-we-are-mask.png) no-repeat;
        background-size: 100% 100%;
        width: 75%;
        height: 773.84px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }

    .who-we-are-img-principal {
        z-index: 1;
        position: relative;
        bottom: 40px;
    }

    .date-wo-we-are {
        position: absolute;
        top: 375px;
        left: 10%;
        display: flex;
        flex-direction: column;
        gap: 74px;
        list-style: none;
    }

    .date-wo-we-are li {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: var(--text-desactive);
    }

    .list-item-date-active {
        position: relative;
    }

    .list-item-date-active span {
        color: #ffffff;
    }

    .point-line-active-img {
        background: url(../../image/point-line-active-date.png) no-repeat;
        width: 17.07px;
        height: 2.84px;
        position: absolute;
        top: 50%;
        right: 70px;
    }

    .point-line-img {
        position: absolute;
        background: url(../../image/point-line-date.png) no-repeat;
        background-size: 100%;
        background-position: center;
        width: 15vw;
        height: 20px;
        top: -10%;
        left: 35px;
        z-index: 10;
    }

    .contact-us {
        display: flex;
        flex-direction: row;
    }

    .contact-us-text {
        margin-right: 46px;
        width: 44%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .contact-us-text h2 {
        width: 93%;
        max-width: 450px;
    }

    .contact-us-img-content {
        width: 19%;
        align-self: baseline;
        display: flex;
        justify-content: flex-start;
    }

    .img-contact-us {
        background: url(../../image/Content-img.png);
        width: 1.42px;
        height: 56.89px;
        margin-top: 10px;
    }
}