.title-desktop,
.logo-folio-service-a,
.logo-folio-desktop,
.what-we-do-title .title-desktop,
.line-service-desktop,
.line-service-desktop-2,
.logo-folio-desktop-a,
.phone-img-desktop,
.phone-pagination-desktop {
    display: none;
}

.service {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
}

.what-we-do {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.what-we-do-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.title-number {
    display: flex;
    gap: 24px;
}

.what-we-do-title span,
.what-we-do-title h2 {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.1rem;
    display: inline-block;
}

.what-we-do p {
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 48px;
    letter-spacing: -0.4px;
    color: var(--dark);
    font-family: 'Sf Pro Medium';
}

.arrow {
    width: 42%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.link-right-arrow {
    background: var(--primary-color);
    border-radius: 30px;
}

.left-arrow {
    background: url(../../image/arrow-down.png) no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.right-arrow {
    background: url(../../image/arrow-down-2.png) no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}


.line-service-1 {
    background: url(../../image/line-service-1.png) no-repeat;
    position: absolute;
    width: 122.4%;
    height: 554.92px;
    z-index: -1;
    opacity: .4;
    left: -12.4%;
    top: 18%;
}

.line-services {
    background: url(../../image/line-services-2.png) no-repeat;
    position: absolute;
    top: 0;
    left: -13%;
    opacity: 0.15;
    width: 125%;
    max-width: 456.68px;
    height: 582.58px;
    z-index: -1;
}

.what-we-do-list {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-we-do-list ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.what-we-do-list li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
    border-radius: 32px;
    flex-grow: 1;
    height: 214px;
    color: var(--primary-color);
    box-shadow: 0px 5px 5px #EDEDED;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 24px;
    text-align: center;
}

.list-content {
    margin-left: 47px;
    display: flex;
    align-items: center;
    gap: 7%;
}


.list-content a {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
}

.what-we-do-achivement {
    width: 70%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.what-we-do-achivement-title {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 56px 0 24px 0;
}

.what-we-do-achivement-title span {
    font-weight: 600;
    font-size: .8rem;
    line-height: 18px;
    color: var(--text-body-dark-mode);
}

.what-we-do-achivement-title h2 {
    font-weight: 600;
    font-size: .8rem;
    line-height: 18px;
    color: var(--dark);
}

.what-we-do-achivement p {
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--dark);
    font-family: 'Sf Pro Medium';
}

.what-we-do-achivement-68 {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 8.75rem;
    line-height: 167px;
}

.sucessful-projects {
    width: 100%;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 24px;
    margin-right: 30px;
    display: flex;
    gap: 24px;
}

.phone-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.phone-img {
    z-index: 2;
    width: 100%;
    max-width: 375px;
    min-width: 320px;
}

.what-we-do-phone-img {
    position: relative;
    margin-bottom: 64px;
}

.circle-phone {
    background: url(../../image/circle-service.png) no-repeat;
    background-position: center center;
    background-size: contain;
    top: 15%;
    width: 100%;
    max-width: 330px;
    height: 330px;
    position: absolute;
}

.phone-pagination-mobile {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.pagination-items {
    border: none;
    outline: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30171);
    height: 6px;
    width: 6px;
    border-radius: 12px;
}

.what-we-do-list li {
    transition-duration: .5s;
}

.what-we-do-list li:hover a {
    transition-duration: 1s;
    color: white;
    font-weight: 0;
}

.what-we-do-list li:hover {
    background: var(--primary-color);
}

.pagination-items:nth-child(2) {
    background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
}

@media screen and (min-width:1024px) {

    .service {
        padding-top: 112px;
    }

    .logo-folio-service,
    .logo-folio-desktop,
    .what-we-do-title .title-desktop,
    .line-service-desktop,
    .line-service-desktop-2,
    .logo-folio-desktop-a {
        display: initial;
    }

    .control,
    .what-we-do-title .title-mobile,
    .line-service-1,
    .line-services,
    .phone-img-desktop {
        display: none;
    }

    .line-service-desktop {
        background: url(../../image/line-service-desktop.png) no-repeat;
        width: 456.68px;
        height: 582.58px;
        position: absolute;
        top: 0;
        left: 10%;
        opacity: .3;
    }

    .what-we-do-container {
        position: relative;
    }

    .line-service-desktop-2 {
        background: url(../../image/line-service-desktop-2.png) no-repeat;
        width: 370px;
        height: 554.92px;
        position: absolute;
        top: -70px;
        right: -12.5%;
        opacity: .3;
    }

    .logo-folio-service-a {
        height: 24px;
        display: flex;
    }

    .logo-folio-service-a .logo-folio-service {
        background: url(../../image/logo-folio-services.png) no-repeat;
        width: 24px;
        height: 24px;
    }

    .what-we-do {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .title-number {
        display: flex;
        gap: 27px;
    }

    .what-we-do-title {
        display: flex;
        flex-direction: column;
    }

    .logo-folio-service-a {
        width: 22%;
    }

    .arrow {
        width: 19%;
        justify-content: flex-end;
    }

    .what-we-do-title {
        width: 70%;
    }

    .what-we-do-list ul {
        flex-direction: row;
        gap: 0;
        margin-top: 64px;
    }

    .what-we-do-list li {
        justify-content: center;
        box-shadow: none;
        border-radius: 0;
        height: 340px;
        z-index: 300;
        width: 25%;
    }

    .what-we-do-list li:first-child {
        border-radius: 32px 0 0 32px;
    }

    .what-we-do-list li:last-child {
        border-radius: 0 32px 32px 0;
    }

    .what-we-do-list ul {
        height: 400px;
        align-items: center;
    }

    .what-we-do-list li {
        transition-duration: .5s;
    }

    .what-we-do-list li:hover {
        background: var(--primary-color);
        height: 100%;
        border-radius: 32px;
    }

    .what-we-do-list li:hover a {
        transition-duration: 1s;
        color: white;
        font-weight: 0;
    }

    .list-content {
        gap: 29px;
    }

    .what-we-do-list .list-content {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .what-we-do-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 187px;
    }

    .what-we-do-achivement {
        width: 42%;
    }

    .what-we-do-phone-img {
        width: 42%;
        order: -1;
    }

    .what-we-do-achivement-68 {
        margin-top: 80px;
    }

    .logo-folio-desktop-a {
        display: flex;
    }

    .logo-folio-desktop {
        background: url(../../image/folio-desktop.png) no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 1440px) {

    .phone-img,
    .phone-pagination-mobile {
        display: none;
    }

    .phone-img-desktop {
        display: initial;
    }

    .logo-folio-service-a .logo-folio-service {
        background: url(../../image/folio-desktop.png) no-repeat;
    }

    .title-number span,
    .title-number h2 {
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 24px;
    }

    .what-we-do-title p {
        font-weight: 700;
        font-size: 4rem;
        line-height: 72px;
    }

    .left-arrow,
    .right-arrow {
        width: 64px;
        height: 64px;
    }

    .logo-folio-service-a {
        width: 15%;
    }

    .what-we-do-list ul {
        height: 560px;
        display: flex;
        justify-content: center;
    }

    .what-we-do-list li {
        height: 480px;
    }

    .what-we-do-achivement p {
        font-weight: 700;
        font-size: 2rem;
        line-height: 40px;
    }

    .what-we-do-achivement-title span,
    .what-we-do-achivement-title h2 {
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 24px;
    }

    .what-we-do-achivement-68 {
        font-weight: 600;
        font-size: 12.5rem;
    }

    .sucessful-projects {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 32px;
        margin-top: 42px;
        margin-bottom: 172px;
    }

    .phone-img-desktop {
        z-index: 2;
        width: 100%;
        max-width: 500px;
        max-height: 639.88px;
        align-self: center;
        position: absolute;
        top: -25%;
        left: 3%;
    }


    .phone-container {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
    }

    .circle-phone {
        max-width: 467px;
        height: 467px;
        left: 11%;
        top: 17%;
    }

    .phone-pagination-desktop {
        bottom: -100px;
        left: -2.5px;
        display: flex;
        justify-content: center;
        gap: 24px;
        width: 100%;
        position: absolute;
    }

    .phone-pagination-desktop .pagination-items {
        width: 8px;
        height: 8px;
    }

    .line-service-desktop {
        background: url(../../image/line-desktop-service-3.png) no-repeat;
        width: 1000.68px;
        height: 582.58px;
        position: absolute;
        top: 0px;
        right: -12.5%;
        opacity: .3;
    }

    .line-service-desktop-2 {
        background: url(../../image/line-service-desktop-4.png) no-repeat;
        width: 520.07px;
        height: 735.92px;
        position: absolute;
        top: -70px;
        right: -8.3%;
        opacity: .3;
    }
}