.swipe-down,
.stand-out-img-tablet-desktop,
.line-img-desktop {
    display: none;
}

.line-img {
    background: url(../../image/line-1.png) no-repeat;
    width: 200px;
    height: 582.58px;
    position: absolute;
    top: -17%;
    right: 0%;
    z-index: 2;
}

.stand-out-page {
    position: relative;
    margin-bottom: 64px;
}

.stand-out-text h1 {
    padding-top: 12px;
    font-weight: 700;
    font-size: 3.1rem;
    color: var(--dark);
    line-height: 56px;
    font-family: 'Sf Pro Medium';
}

.stand-out-text p {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 24px;
    color: var(--text-body-light-mode);
    line-height: 1.6rem;
    margin-bottom: 24px;
}

.recent-work-button {
    width: 160px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    height: 56px;
    cursor: pointer;
    border: none;
    margin-bottom: 392px;
}

.stand-out-img-mobile {
    position: absolute;
    bottom: 8%;
    right: 0;
    z-index: 3;
}

@media screen and (min-width:406px) {
    .line-img {
        top: -21.5%;
    }
}

@media screen and (min-width: 1024px) {

    .stand-out-img-mobile,
    .line-img {
        display: none;
    }

    .stand-out-img-tablet-desktop,
    .line-img-desktop {
        display: initial;
    }

    .line-img-desktop {
        background: url(../../image/stand-out-line-img-desktop.png) no-repeat;
        width: 456.68px;
        height: 582.58px;
        position: absolute;
        top: -158px;
        z-index: -1;
        left: 25.2%;
    }

    .stand-out-text h1 {
        font-size: 64px;
        line-height: 72px;
        letter-spacing: -0.5px;
        width: 80%;
    }

    .stand-out-text p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        width: 60%;
        margin-bottom: 32px;
    }

    .stand-out-text,
    .stand-out-img {
        width: 50%;
        height: 512px;
    }

    .stand-out-page {
        display: flex;
        margin-bottom: 80px;
    }

    .mask-img {
        background: url(../../image/mask-stand-out-page.png) no-repeat;
        position: absolute;
        width: 405.33px;
        height: 513.42px;
        right: 92px;
        bottom: 0px;
    }

    .stand-out-img-tablet-desktop {
        width: 1024px;
        height: 728.18px;
        position: absolute;
        top: -160px;

        right: 0;
        z-index: 2;
    }

    .recent-work-button {
        margin-bottom: 56px;
    }

    .swipe-down {
        display: flex;
        align-items: center;
        width: 35%;
        gap: 16px;
    }

    .swipe-down a {
        width: 40px;
        height: 40px;
    }

    .swipe-down-img {
        background: url(../../image/swipe-down.png) no-repeat;
        width: 40px;
        height: 40px;
    }

    .swipe-down span {
        color: var(--text-body-dark-mode);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;

    }
}