* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sf Pro Regular';
    src: url('../fonts/SFPRODISPLAYREGULAR.otf') format('opentype');
}

@font-face {
    font-family: 'Sf Pro Medium';
    src: url('../fonts/SFPRODISPLAYMEDIUM.otf') format('opentype');
}

:root {
    --primary-color: #5468E7;
    --primary-shades: #D1ECFD;
    --primary-gradient: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
    --secondary-color: #C897E4;
    --secondary-shades: #E8BEFF;
    --dark: #232340;
    --dark-shades: #323259;
    --light: #D8D8D8;
    --light-shades: #EDEDED;
    --accent-1: #FFC7DF;
    --accent-2: #FFBA79;
    --accent-3: #9A97ED;
    --shade-5: #FFADD0;
    --shade-6: #FFCE79;
    --shade-7: #908CFF;
    --text-dark: #000000;
    --text-body-light-mode: #606060;
    --text-desactive: #ADADAD;
    --text-body-dark-mode: #8B8B8B;
}

body {
    font-family: 'Sf Pro Regular', sans-serif;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (min-width:1440px) {
    .container {
        padding-left: 7.2%;
        padding-right: 7.2%;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        padding-left: calc((100% - 1600px)/2);
        padding-right: calc((100% - 1600px)/2);
    }
}